# dependencies
node_modules
.pnp.*

# testing
coverage

# production
build
dist

# misc
.expo
.expo-shared
*.log
*.lock
*.tmp

# local configuration overrides
src/config/firebaseConfig.local.js

# macOS
.DS_Store

# editor directories and files
.idea
.vscode
*.swp
android
ios
.android
.ios
